version: 1.0.{build}
branches:
  only:
    - master
environment: 
  git_personal_access_token:
    secure: COQpohGSj/0Uc2caXZo7fj2k+jh89y7do9nKI2Vv4o8F9UpCbsE4bnYOs9WHuvqt
before_build:
  - nuget restore
after_test:
  - deployToGitHub fifthweek-api-dist api-dist
  - deployToGitHub fifthweek-webjobs-dist webjobs-dist
build_script:
  - SET API_DEPLOYMENT_TEMP="%APPVEYOR_BUILD_FOLDER%\api-dist"
  - SET WEBJOBS_DEPLOYMENT_TEMP="%APPVEYOR_BUILD_FOLDER%\webjobs-dist\App_Data\jobs\continuous"
  - msbuild.exe "%APPVEYOR_BUILD_FOLDER%\Fifthweek.sln" /t:Clean /p:Configuration=Release
  - msbuild.exe "%APPVEYOR_BUILD_FOLDER%\Fifthweek.sln" /t:Clean /p:Configuration=Debug
  - msbuild.exe "%APPVEYOR_BUILD_FOLDER%\Fifthweek.sln" /t:Build /p:Configuration=Release
  - xcopy /e /h "%APPVEYOR_BUILD_FOLDER%\Fifthweek.WebJobs.Thumbnails\bin\Release" "%WEBJOBS_DEPLOYMENT_TEMP%\thumbnails\"
  - xcopy /e /h "%APPVEYOR_BUILD_FOLDER%\Fifthweek.WebJobs.GarbageCollection\bin\Release" "%WEBJOBS_DEPLOYMENT_TEMP%\garbage-collection\"
  - xcopy /e /h "%APPVEYOR_BUILD_FOLDER%\Fifthweek.WebJobs.Payments\bin\Release" "%WEBJOBS_DEPLOYMENT_TEMP%\payments\"
  - msbuild.exe "%APPVEYOR_BUILD_FOLDER%\Fifthweek.Api\Fifthweek.Api.csproj" /nologo /verbosity:m /t:Build /t:pipelinePreDeployCopyAllFilesToOneFolder /p:_PackageTempDir="%API_DEPLOYMENT_TEMP%";AutoParameterizationWebConfigConnectionStrings=false;Configuration=Release /p:SolutionDir="%APPVEYOR_BUILD_FOLDER%\.\\"
notifications:
  - provider: Slack
    auth_token:
      secure: h27StHmx1nm8MKUXzX071+oMD2VgEtasC1a2MZF5NeOObTVYiAv8eZtybLxK+Fee
    channel: services
